.group-page .group-list-box {
	display: flex;
	flex-direction: column;
	background: var(--im-background);
}
.group-page .group-list-box .group-list-header {
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 8px;
}
.group-page .group-list-box .group-list-header .add-btn {
	padding: 5px !important;
	margin: 5px;
	font-size: 16px;
	border-radius: 50%;
}
.group-page .group-list-box .group-list-items {
	flex: 1;
}
.group-page .group-list-box .group-list-items .index-title {
	text-align: left;
	font-size: var(--im-larger-size-larger);
	padding: 5px 15px;
	color: var(--im-text-color-light);
}
.group-page .group-box {
	display: flex;
	flex-direction: column;
}
.group-page .group-box .group-header {
	display: flex;
	justify-content: space-between;
	padding: 0 12px;
	line-height: 50px;
	font-size: var(--im-font-size-larger);
	border-bottom: var(--im-border);
}
.group-page .group-box .el-divider--horizontal {
	margin: 16px 0;
}
.group-page .group-box .group-container {
	overflow: auto;
	padding: 20px;
	flex: 1;
}
.group-page .group-box .group-container .group-info {
	display: flex;
	padding: 5px 20px;
}
.group-page .group-box .group-container .group-info .group-form {
	flex: 1;
	padding-left: 40px;
	max-width: 700px;
}
.group-page .group-box .group-container .group-info .avatar-uploader {
	--width: 160px;
	text-align: left;
}
.group-page .group-box .group-container .group-info .avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9 !important;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.group-page .group-box .group-container .group-info .avatar-uploader .el-upload:hover {
	border-color: #409eff;
}
.group-page .group-box .group-container .group-info .avatar-uploader .avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: var(--width);
	height: var(--width);
	line-height: var(--width);
	text-align: center;
}
.group-page .group-box .group-container .group-info .avatar-uploader .avatar {
	width: var(--width);
	height: var(--width);
	display: block;
}
.group-page .group-box .group-container .group-info .send-btn {
	margin-top: 12px;
}
.group-page .group-box .group-container .group-member-list {
	padding: 0 12px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
.group-page .group-box .group-container .group-member-list .group-member {
	margin-right: 5px;
}
.group-page .group-box .group-container .group-member-list .member-tools {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60px;
}
.group-page .group-box .group-container .group-member-list .member-tools .tool-btn {
	width: 38px;
	height: 38px;
	line-height: 38px;
	border: var(--im-border);
	font-size: 14px;
	cursor: pointer;
	box-sizing: border-box;
}
.group-page .group-box .group-container .group-member-list .member-tools .tool-btn:hover {
	border: 1px solid #aaa;
}
.group-page .group-box .group-container .group-member-list .member-tools .tool-text {
	font-size: var(--im-font-size-smaller);
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*# sourceMappingURL=chunk-64ed2b64.8c601e18.css.map */
